<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    {{ partial "head.html" . }}
    {{ template "_internal/google_analytics.html" . }}
  </head>
  <body>
    <div class="container">	
      {{ partial "header.html" . }}
      <div class="main">
        <ul id="og-grid" class="og-grid">
          {{ range sort .Site.RegularPages "Params.id" }}
          <li>
            <a href="" data-largesrc="{{ .RelPermalink }}/{{ .Params.Cover }}" data-title="{{ .Params.Id }} - {{ .Title }}" 
              data-description="{{ .Content }}" data-buttontext="View more images">

              {{ if isset .Params "cover" }}
              <img src="{{ .RelPermalink }}/{{ .Params.Cover }}" height="200" width="200" alt=""/>
              {{ end }}

            </a>
          </li>
          {{ end }}
        </ul>
        {{ partial "footer.html" . }}
      </div>
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
